* {
  box-sizing: border-box;
}
body {  background: white;
      font-family: sans-serif;
      width: 350px;
      // max-width: 400px;
      // overflow-x: hidden;  
      font-size:12px;
      cursor: default;      
   }
h1, h2, h3 {font-family: sans-serif;}
h1 { font-size: 16px; }
h2 {   font-size: 16px; 
      margin-top: 12px;
      margin-bottom: 2px;
      // text-decoration: underline;
  }
h3 { font-size: 13px;  margin-top: 8px; margin-bottom: 2px } 
hr {margin-top: 0in; padding: 0px}
ul {margin-top: .05in; padding-left: 20px;}
span.windowList { display: inline-block;
      line-height: 14px;
      height: 14px;
      width:305px;
    }
span.closed {
  color: #979ca0;
}
.tabinfo span {
  width: 305px;
}
A:link {text-decoration: none} 
A:visited {text-decoration: none}
A:hover {text-decoration: none}
.nowrap { overflow: hidden; 
          text-overflow: ellipsis;
          white-space: nowrap;
      }
.singlerow { max-height: 24px;  }
.tablist { margin-left: 4px; }
.oneRowContainer {
    line-height: 24px; 
    vertical-align: middle;     
}
.tabinfo { 
           background-color: #fafafa
        }
.tabinfo:hover {
  background-color: #dadada
}
.favicon { width: 16px; height: 16px; margin-right: 3px; }
.windowInfo { border: 1px solid #bababa;
              border-radius: 3px; 
              margin-bottom: 8px;
              max-width: 345px;
            }
.windowInfo:hover {
  // border: 1px solid #0224d2;
  // -webkit-box-shadow: 0px 0px 8px #0224d2;
  // -moz-box-shadow: 0px 0px 8px #0224d2;
  box-shadow: 0px 0px 5px 2px #7472ff;
}
.windowHeader { background-color: #ebe9eb;
            // line-height: 20px; 
            // vertical-align: middle;     
            // margin: 0;
            // padding-top: 3px;
            // padding-bottom: 3px;
            border-bottom: 1px solid #bababa;
            padding-left: 3px;
            padding-right: 3px;
            margin-bottom: 3px;
        }
.windowHeader:hover {
  background-color: #cacaca
}
.windowTitle {
    font-weight: bold;
}
button.header-button {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-right: 3px;
    width: 16px;
    height: 16px;
}
button.show-on-hover {
  visibility: hidden;
}
button.hover {
  visibility: visible;
}
span.activeTab {
  font-weight: bold;
}
button.close {
    color: red;
    background: url("../images/interface-80.png");
}
/*
button.close:hover {
    background: url("../images/interface-94.png");  
}
*/
button.unmanaged {
    background: url("../images/vote-7.png");
}
button.managed {
    background: url("../images/vote-6.png");
}
// From jQuery UI modal-form-custom example:
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }