body {  background: white;
        font-family: sans-serif;
        max-width: 350px;
        // overflow-x: hidden;  
        font-size:12px;      
     }
 h1, h2, h3 {font-family: sans-serif;}
 h1 { font-size: 16px; }
 h2 {   font-size: 16px; 
        margin-top: 12px;
        margin-bottom: 2px;
        // text-decoration: underline;
    }
 h3 { font-size: 13px;  margin-top: 8px; margin-bottom: 2px } 
 hr {margin-top: 0in; padding: 0px}
 ul {margin-top: .05in; padding-left: 20px;}
 span { display: inline-block;
        line-height: 14px;
        height: 14px;
        width:280px;
       }
 A:link {text-decoration: none} 
 A:visited {text-decoration: none}
 A:hover {text-decoration: none}
.nowrap { overflow: hidden; 
          text-overflow: ellipsis;
          white-space: nowrap;
      }
.singlerow { max-height: 20px; }
.tablist { margin-left: 4px; }
.tabinfo { line-height: 20px; 
           vertical-align: middle; 
           background-color: #fafafa
        }
.favicon { width: 16px; height: 16px; margin-right: 3px; }
.windowInfo { border: 1px solid #eaeaea; 
              margin-bottom: 8px;
              // max-width: 310px;
            }
.windowHeader { background-color: #ebe9eb;
            margin: 0;
            padding-top: 3px;
            padding-bottom: 4px;
        }
.windowTitle {
    font-weight: bold;
}
button {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
button.manage {
    background: url("../images/rounded-big-circle-3-01.png");
}
body {
    // width: 320px;
}