{
  "presets":
  [
    "es2015",
    "react",
    "stage-3",
    [ "env", {
        "targets": "last 2 Chrome versions"
      }
    ]
  ],
  "plugins": [
    [ "emotion", { "sourceMap": true, "autoLabel": true } ],
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
