# node_modules are ignored by default

# Ignore build folder
build

# Ignore config stuff
server.*.js
*config.js
serviceworker.js

# Ignore tests and other ancillary stuff (for now):
doc
test
gulpfile.js