<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.1600195312499999</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>RoundRectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{1, 1}, {5, 5}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>32BCD44F-BABA-47D3-B48F-F872715D5F57</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.500000:0.500000:0.500000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rounded Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>children</key>
					<array>
						<dict>
							<key>adjustmentRatioX</key>
							<real>0.0</real>
							<key>adjustmentRatioY</key>
							<real>0.0</real>
							<key>arrowTypeA</key>
							<integer>0</integer>
							<key>arrowTypeB</key>
							<integer>0</integer>
							<key>className</key>
							<string>Line</string>
							<key>constrainAspectRatio</key>
							<false/>
							<key>contentFilterSpecs</key>
							<array/>
							<key>curveRatio</key>
							<real>0.0</real>
							<key>fillAngle</key>
							<integer>0</integer>
							<key>fillColor</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>fillGradientElements</key>
							<array>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>0.0</real>
								</dict>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>1</real>
								</dict>
							</array>
							<key>fillShadowBlur</key>
							<real>3</real>
							<key>fillShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>fillShadowHidden</key>
							<false/>
							<key>fillShadowOffsetX</key>
							<real>2</real>
							<key>fillShadowOffsetY</key>
							<real>2</real>
							<key>fillType</key>
							<integer>5</integer>
							<key>flipped</key>
							<false/>
							<key>frame</key>
							<string>{{0, 0}, {3, 3}}</string>
							<key>hidden</key>
							<false/>
							<key>identifier</key>
							<string>6F09B43B-D070-4F70-9BF7-927E55D2DB17</string>
							<key>imageAnchorRatio</key>
							<string>{0.5, 0.5}</string>
							<key>imageType</key>
							<integer>0</integer>
							<key>locked</key>
							<false/>
							<key>opacity</key>
							<real>1</real>
							<key>pathType</key>
							<integer>0</integer>
							<key>rotationAngle</key>
							<integer>0</integer>
							<key>rotationHandleRadius</key>
							<real>100</real>
							<key>scaleImage</key>
							<true/>
							<key>strokeColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>strokeLineCap</key>
							<integer>1</integer>
							<key>strokeLineJoin</key>
							<integer>1</integer>
							<key>strokeLineWidth</key>
							<real>1</real>
							<key>strokeShadowBlur</key>
							<real>2</real>
							<key>strokeShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>strokeShadowHidden</key>
							<true/>
							<key>strokeShadowOffsetX</key>
							<real>2</real>
							<key>strokeShadowOffsetY</key>
							<real>2</real>
							<key>strokeType</key>
							<integer>0</integer>
							<key>textAlign</key>
							<integer>2</integer>
							<key>textAppearanceType</key>
							<integer>0</integer>
							<key>textDrawOnPath</key>
							<false/>
							<key>textShadowBlur</key>
							<real>5</real>
							<key>textShadowColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>textShadowHidden</key>
							<true/>
							<key>textShadowOffsetX</key>
							<real>0.0</real>
							<key>textShadowOffsetY</key>
							<real>0.0</real>
							<key>textVerticalAlign</key>
							<integer>0</integer>
							<key>title</key>
							<string>Line</string>
							<key>userSetTitle</key>
							<false/>
						</dict>
						<dict>
							<key>adjustmentRatioX</key>
							<real>0.0</real>
							<key>adjustmentRatioY</key>
							<real>0.0</real>
							<key>arrowTypeA</key>
							<integer>0</integer>
							<key>arrowTypeB</key>
							<integer>0</integer>
							<key>className</key>
							<string>Line</string>
							<key>constrainAspectRatio</key>
							<false/>
							<key>contentFilterSpecs</key>
							<array/>
							<key>curveRatio</key>
							<real>0.0</real>
							<key>fillAngle</key>
							<integer>0</integer>
							<key>fillColor</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>fillGradientElements</key>
							<array>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>0.0</real>
								</dict>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>1</real>
								</dict>
							</array>
							<key>fillShadowBlur</key>
							<real>3</real>
							<key>fillShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>fillShadowHidden</key>
							<false/>
							<key>fillShadowOffsetX</key>
							<real>2</real>
							<key>fillShadowOffsetY</key>
							<real>2</real>
							<key>fillType</key>
							<integer>5</integer>
							<key>flipped</key>
							<false/>
							<key>frame</key>
							<string>{{1, 3}, {2, 0}}</string>
							<key>hidden</key>
							<false/>
							<key>identifier</key>
							<string>825509D8-FC06-433E-ABAF-B860AEE0444B</string>
							<key>imageAnchorRatio</key>
							<string>{0.5, 0.5}</string>
							<key>imageType</key>
							<integer>0</integer>
							<key>locked</key>
							<false/>
							<key>opacity</key>
							<real>1</real>
							<key>pathType</key>
							<integer>0</integer>
							<key>rotationAngle</key>
							<integer>0</integer>
							<key>rotationHandleRadius</key>
							<real>100</real>
							<key>scaleImage</key>
							<true/>
							<key>strokeColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>strokeLineCap</key>
							<integer>1</integer>
							<key>strokeLineJoin</key>
							<integer>1</integer>
							<key>strokeLineWidth</key>
							<real>1</real>
							<key>strokeShadowBlur</key>
							<real>5</real>
							<key>strokeShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>strokeShadowHidden</key>
							<true/>
							<key>strokeShadowOffsetX</key>
							<real>2</real>
							<key>strokeShadowOffsetY</key>
							<real>2</real>
							<key>strokeType</key>
							<integer>0</integer>
							<key>textAlign</key>
							<integer>2</integer>
							<key>textAppearanceType</key>
							<integer>0</integer>
							<key>textDrawOnPath</key>
							<false/>
							<key>textShadowBlur</key>
							<real>5</real>
							<key>textShadowColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>textShadowHidden</key>
							<true/>
							<key>textShadowOffsetX</key>
							<real>0.0</real>
							<key>textShadowOffsetY</key>
							<real>0.0</real>
							<key>textVerticalAlign</key>
							<integer>0</integer>
							<key>title</key>
							<string>Line</string>
							<key>userSetTitle</key>
							<false/>
						</dict>
						<dict>
							<key>adjustmentRatioX</key>
							<real>0.0</real>
							<key>adjustmentRatioY</key>
							<real>0.0</real>
							<key>arrowTypeA</key>
							<integer>0</integer>
							<key>arrowTypeB</key>
							<integer>0</integer>
							<key>className</key>
							<string>Line</string>
							<key>constrainAspectRatio</key>
							<false/>
							<key>contentFilterSpecs</key>
							<array/>
							<key>curveRatio</key>
							<real>0.0</real>
							<key>fillAngle</key>
							<integer>0</integer>
							<key>fillColor</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>fillGradientElements</key>
							<array>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>0.0</real>
								</dict>
								<dict>
									<key>color</key>
									<string>1.000000:1.000000:1.000000:1.000000</string>
									<key>ratio</key>
									<real>1</real>
								</dict>
							</array>
							<key>fillShadowBlur</key>
							<real>3</real>
							<key>fillShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>fillShadowHidden</key>
							<false/>
							<key>fillShadowOffsetX</key>
							<real>2</real>
							<key>fillShadowOffsetY</key>
							<real>2</real>
							<key>fillType</key>
							<integer>5</integer>
							<key>flipped</key>
							<false/>
							<key>frame</key>
							<string>{{3, 1}, {0, 2}}</string>
							<key>hidden</key>
							<false/>
							<key>identifier</key>
							<string>A44FD1DE-AEF4-4974-8A97-CCEF1E98A529</string>
							<key>imageAnchorRatio</key>
							<string>{0.5, 0.5}</string>
							<key>imageType</key>
							<integer>0</integer>
							<key>locked</key>
							<false/>
							<key>opacity</key>
							<real>1</real>
							<key>pathType</key>
							<integer>0</integer>
							<key>rotationAngle</key>
							<integer>0</integer>
							<key>rotationHandleRadius</key>
							<real>100</real>
							<key>scaleImage</key>
							<true/>
							<key>strokeColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>strokeLineCap</key>
							<integer>1</integer>
							<key>strokeLineJoin</key>
							<integer>1</integer>
							<key>strokeLineWidth</key>
							<real>1</real>
							<key>strokeShadowBlur</key>
							<real>5</real>
							<key>strokeShadowColor</key>
							<string>0.000000:0.000000:0.000000:0.333000</string>
							<key>strokeShadowHidden</key>
							<true/>
							<key>strokeShadowOffsetX</key>
							<real>2</real>
							<key>strokeShadowOffsetY</key>
							<real>2</real>
							<key>strokeType</key>
							<integer>0</integer>
							<key>textAlign</key>
							<integer>2</integer>
							<key>textAppearanceType</key>
							<integer>0</integer>
							<key>textDrawOnPath</key>
							<false/>
							<key>textShadowBlur</key>
							<real>5</real>
							<key>textShadowColor</key>
							<string>0.000000:0.000000:0.000000:1.000000</string>
							<key>textShadowHidden</key>
							<true/>
							<key>textShadowOffsetX</key>
							<real>0.0</real>
							<key>textShadowOffsetY</key>
							<real>0.0</real>
							<key>textVerticalAlign</key>
							<integer>0</integer>
							<key>title</key>
							<string>Line</string>
							<key>userSetTitle</key>
							<false/>
						</dict>
					</array>
					<key>className</key>
					<string>Group</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>0.0</real>
					<key>fillShadowColor</key>
					<string></string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{0, 0}, {3, 3}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>05EE8418-295B-4F59-AECD-2DBDF4DB28AE</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string></string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>0.0</real>
					<key>strokeShadowColor</key>
					<string></string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Group</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>6F09B43B-D070-4F70-9BF7-927E55D2DB17</string>
					<key>shapeEdge</key>
					<integer>2</integer>
					<key>shapeIdentifier</key>
					<string>32BCD44F-BABA-47D3-B48F-F872715D5F57</string>
					<key>shapeRatio</key>
					<real>0.0</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {7, 7}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>EE5CC1C4-F58F-42EF-AFD4-65C9563B3B0A</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>0</integer>
				<key>group</key>
				<integer>0</integer>
				<key>height</key>
				<real>7</real>
				<key>name</key>
				<string>Custom</string>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>7</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{3.4900000000000002, 3.4999999999999991}</string>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>0</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>5</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>50</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>7</integer>
</dict>
</plist>
