* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
.popup-html {
    width: 450px;
    height: 600px;
}
body {
    /* background: white; */
    font-family: sans-serif;
    /* max-width: 400px; */
    /* overflow-x: hidden; */
    font-size: 12px;
    cursor: default;
    overflow: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
}
hr {
    margin-top: 0in;
    padding: 0px;
}
ul {
    margin-top: 0.05in;
    padding-left: 20px;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
}
// For dialogs:
label,
input {
    display: block;
}
fieldset {
    padding: 0;
    border: 0;
}
.save-form label {
    padding: 5px;
    font-weight: bold;
}
.preferences-form {
    font-size: 14px;
    min-height: 100px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.tabli-menu {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
}
.main-container {
    height: 100%;
    width: 100%;
}

/*
 * The following now mostly come from reactstrap, but not entirely.
 * Note that we can't easily get rid of this explicit CSS because of
 * how we handle relNotes.html
 */
.card {
    font-family: sans-serif;
    background-color: inherit;
}
.card-header {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
}
.card-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0px;
}
.card-subtitle {
    font-size: 14px;
    /* color: rgba(0, 0, 0, 0.541176); */
}
.card-body {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
}
a.card-link {
    text-decoration: none;
    color: #4285f4;
}

.tabli-dialog-button {
    margin: 8px;
    min-width: 60px;
}
.inline-flex {
    display: inline-flex;
    align-items: center;
}
.inline-block {
    display: inline-block;
}
.no-top-border {
    border-bottom: 4px;
}
.search-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    max-width: 200px;
    margin-left: 8px;
    margin-right: 12px;
    flex: 0 0 auto;
    height: 22px;
    line-height: 1.42;
    padding: 1px;
    font-size: 12px;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    margin-right: 5px;
}
/* GRRRRRR. @#!@#$ CSS */
.popout-button {
    line-height: 1;
}
.modal-body-container {
    margin: 8px;
}
.preferences-form input[type='checkbox'] {
    margin: 8px;
}
button,
input,
input[type='search'],
input[type='checkbox'] {
    background-color: inherit;
    color: inherit;
}
