* {
  box-sizing: border-box;
}
body {  background: white;
      font-family: sans-serif;
      /* max-width: 400px; */
      /* overflow-x: hidden; */
      font-size:12px;
      cursor: default;
   }
h1, h2, h3 {font-family: sans-serif;}
h1 { font-size: 16px; }
h2 {   font-size: 16px; 
      margin-top: 12px;
      margin-bottom: 2px;
      /* text-decoration: underline; */
  }
h3 { font-size: 13px;  margin-top: 8px; margin-bottom: 2px } 
hr {margin-top: 0in; padding: 0px}
ul {margin-top: .05in; padding-left: 20px;}
p {margin-top: 4px; margin-bottom: 4px; }
A:link {text-decoration: none; color: black } 
A:visited {text-decoration: none; color: black }
A:hover {text-decoration: none; color: black }
// For dialogs:
label, input { display:block; }
fieldset { padding:0; border:0; }
.dialog-form label {
  padding: 5px;
  font-weight: bold;
}

.tabItem:hover {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.tabItem .tabCheck {
  visibility: hidden;
}
.tabItem:hover .tabCheck {
  visibility: visible;
}

.tabItem .closeButton {
  visibility: hidden;
}
.tabItem:hover .closeButton {
  visibility: visible;
}

.windowHeader .windowCheck {
  visibility: hidden;
}
.windowHeader:hover .windowCheck {
  visibility: visible;
}

.windowHeader .closeButton {
  visibility: hidden;
}
.windowHeader:hover .closeButton {
  visibility: visible;
}

.closeButton {
  -webkit-mask-image: url('../images/interface-77.png');
  background-color: #888888;
}
.closeButton:hover {
  -webkit-mask-image: url('../images/interface-74.png');
  background-color: #000000;
}