* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.popup-html {
  width: 375px;
  height: 600px;
}
body {
      background: white;
      font-family: sans-serif;
      /* max-width: 400px; */
      /* overflow-x: hidden; */
      font-size:12px;
      cursor: default;
      overflow: hidden;
      margin: 0px;
      height: 100%;
      width: 100%;
   }
h1, h2, h3 {font-family: sans-serif;}
h1 { font-size: 16px; }
h2 {   font-size: 16px;
      margin-top: 12px;
      margin-bottom: 2px;
      /* text-decoration: underline; */
  }
h3 { font-size: 13px;  margin-top: 8px; margin-bottom: 2px }
hr {margin-top: 0in; padding: 0px}
ul {margin-top: .05in; padding-left: 20px;}
p {margin-top: 4px; margin-bottom: 4px; }
A:link {text-decoration: none; color: black }
A:visited {text-decoration: none; color: black }
A:hover {text-decoration: none; color: black }
// For dialogs:
label, input { display:block; }
fieldset { padding:0; border:0; }
.save-form label {
  padding: 5px;
  font-weight: bold;
}
.preferences-form {
  font-size: 14px;
  min-height: 100px;
  margin-top: 40px;
}
.main-container {
  height: 100%;
  width: 100%;
}
.tabItem:hover {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.tabItem .tabCheck {
  visibility: hidden;
}
.tabItem:hover .tabCheck {
  visibility: visible;
}

.tabItem .closeButton {
  visibility: hidden;
}
.tabItem:hover .closeButton {
  visibility: visible;
}

.windowHeader .windowCheck {
  visibility: hidden;
}
.windowHeader:hover .windowCheck {
  visibility: visible;
}

.windowHeader .closeButton {
  visibility: hidden;
}
.windowHeader:hover .closeButton {
  visibility: visible;
}

.closeButton {
  -webkit-mask-image: url('../images/Interface-77.png');
  background-color: #888888;
}
.closeButton:hover {
  -webkit-mask-image: url('../images/Interface-74.png');
  background-color: #000000;
  /* -webkit-mask-image: url('../images/Interface-94.png'); */
  /* background-color: #cb716c; */
}

.toolbar-btn-square {
  width: 24px;
  height: 24px;
  padding: 4px;
}

.toolbar-btn {
  height: 20px;
  padding: 2px;
}

.tabli-logo-icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-image: url('../images/logoImage.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.popout-icon {
  width: 16px;
  height: 16px;
  background-image: url('../images/popout.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.popout-img {
  width: 14px;
  height: 14px;
}

/*
.popoutButton:hover {
  background-color: #dadada;
}
*/
.card {
  font-family: sans-serif;
}
.card-header {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;
}
.card-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 0px;
}
.card-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541176);
}
.card-body {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
}
a.card-link {
  text-decoration: none;
  color: #4285f4;
}
.tabli-dialog-button {
  margin: 8px;
  min-width: 60px;
}
.inline-flex {
  display:inline-flex;
  align-items: center;
}
.inline-block {
  display: inline-block;
}
.no-top-border {
  border-bottom: 4px;
}
.header-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 340px;
  justify: center;
}
.header-toolbar {
  display: flex;
  justify-content: space-around;
  width: 340px;
}
.search-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
  max-width: 200px;
  margin-left: 8px;
  margin-right: 12px;
  flex: 0 0 auto;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 5px;
}
/* GRRRRRR. @#!@#$ CSS */
.popout-button {
  line-height: 1.0;
}
.modal-body-container {
  margin: 8px;
}
.newtab-main-container {
  display: flex;
  width: 100%;
}

.newtab-content-container {
  width: 600px;
  height: 800px;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.newtab-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.newtab-logo-container h1 {
  font-weight: 500;
  font-size: 48px;
  color: #328fa6;
  font-family: 'sinkin_sans500_medium';
  margin-left: 16px;
}

.newtab-logo-container img {
  flex: none;
}

.newtab-search-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 600px;
}
.newtab-search-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 50px;
  width: 600px;
  margin: auto;
  font-size: 16px;
  padding-left: 4px;
}

.newtab-search-results {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
}

.tabSearchCard-card {
  display: flex;
  width: 600px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: auto;
}

.tabSearchCard-text-info {
  display: flex;
  flex-direction: column;
}

.tabSearchCard-text-title {
  display: block;
}

.tabSearchCard-text-url {
  display: block;
}
