.expanded {
  composes: common from "./HeaderButton.css";
  -webkit-mask-image: url('../../images/triangle-small-1-01.png');
  background-color: #606060;
}
.collapsed {
  composes: common from "./HeaderButton.css";
  -webkit-mask-image: url('../../images/triangle-small-4-01.png');
  background-color: #606060;
}