.common {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-right: 1px;  
}
