.revertButton {
  composes: common from "./HeaderButton.css";
  -webkit-mask-image: url("../../images/chevron-double-mix-1-01.png");
  background-color: #7472ff;
  margin-right: 20px;
}
.headerCheckBox {
  width: 13px;
  height: 13px;
  visibility: 'hidden';
}
.headerCheckBox:hover {
  visibility: 'visible';
}
.windowManagedButton {
  composes: common from "./HeaderButton.css";
  -Webkit-mask-image: url("../../images/Status-9.png");
  background-color: #7472ff;
}
.open {
}
.closed {
  color: #979ca0;
}
.windowTitle {
  composes: common noWrap from "./Text.css";
  font-weight: bold;
  width: 243px;
  max-width: 243px;
}
.titleBar {
  composes: noWrap from "./Text.css";
  background-color: #ebe9eb;
  border-bottom: 1px solid #bababa;
  height: 22px;
  max-height: 22px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-flex;
  align-items: center;
}
.spacer {
  flex: 1;
}